:root {
  --primary-text-colour: #555555;
  --secondary-text-colour: #303030;
  --secondary-header-colour: #ffffff;
  --accent-colour: #ff6c00;
  --primary-backround-colour: #ffffff;
  --secondary-backround-colour: #f7f7f7;
  --gap: 30px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: var(--primary-text-colour);
  background-color: var(--primary-backround-colour);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 1px solid red;
}
.section {
  padding: 120px 0;
}
.title { 
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #303030;
}
.pretitle { 
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;

}
.btn {
  display: block;

  border: 1px solid var(--accent-colour);
  border-radius: 25px;
  padding: 12px 20px;

  background-color: transparent;
  text-transform: uppercase;

  cursor: pointer;
}
.btn:hover {
  background-color: var(--accent-colour);
}
.current,
.header-list-item:hover,
.header-list-item:focus,
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-colour);
}

/* ---------------------------HEADER--------------------------- */
.header {
  background: #6D707B
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 130px;
}
.header-list {
  display: flex;
  column-gap: var(--gap);
}
.header-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-list-item,
.header-phone,
.header-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.header-contact {
  display: flex;
  align-items: center;
  gap: 40px;

  margin-left: auto;
}
/* ---------------------------HERO--------------------------- */
.hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/header-backround.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
}
.hero-contact-item {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--secondary-text-colour);
}

.hero-pretitle {
    color: rgba(157, 164, 189, 0.6);
}
.hero-title {
    font-family: 'Raleway';
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--secondary-header-colour)

}
.hero-subtitle {
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

/* ---------------------------ABOUT--------------------------- */
.about-container {
    display: flex;
}
.about-list {
    display: flex;
    gap: 30px;
}

.about-content {
    max-width: 470px;
    margin-left: 30px;
}
.about-pretitle {
    color: #303030;
}
.about-title {
}
.about-subtitle {
}
.about-text {
}
.about-btn {
}
.btn {
}