:root {
    --titleColor: #303030;
    --secondaryTitleColor: #FFFFFF;
    --textColor: #555555;
    --secondaryTextColor: #9DA4BD;
    --accentColor: #FF6C00;
    --iconColor: #AFB1B8;
    --backgroundColorServices: #111319;
    --backgroundColorContact: #191C26;
    --gap: 30px;
    --transition: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms
}