.about { 
    &__container {
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    }
    &__content {
        flex-basis: calc((100% - 20px) / 2);
        display: flex;
        flex-direction: column;
    }
    &__title {
        @include fonts (700, 28px, 33px, 0.05em);
        color: var(--titleColor);
        max-width: 306px;
        margin-bottom: 20px;
    
        @include desktop {
            @include fonts (700, 42px, 49px, 0.05em);
            max-width: 470px;
        }
    }
    &__after-title {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #555555;
        font-size: 16px;
        color: var(--primaryTextColor);
    
        @include desktop {
            @include fonts (400, 18px, 30px, 0.02em);
            max-width: 470px;
        }
    }
    &__text {
        font-size: 14px;
        line-height: 26px;
        color: var(--primaryTextColor);
        margin-bottom: 40px;
    
        @include tablet {
            margin-bottom: 77px;
        }
    
        @include desktop {
            margin-bottom: 42px;
            max-width: 470px;
        }
    }
    &__btn {
        align-self: flex-start;
    }
}
.picture-list {
    display: none;

    @include tablet { 
        flex-basis: calc((100% - 30px) / 2);
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
    }

}

.picture-item {
    @include desktop {
        width: calc((100% - var(--gap)) / 2);
    }
}
