.contacts {
    @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    @include desktop {
        width: calc((100% - var(--gap)) / 2);
        padding-left: 100px;
        padding-top: 130px;
        flex-direction: column;
        flex-wrap: nowrap;
        }
    &__title {
        width: 100%;
        @include fonts (700, 42px, 49px, 0.05em);
        text-align: center;
        color: var(--secondaryTitleColor);
        margin-bottom: 40px;
    
        @include miniMobile {
            font-size: 8.75vw;
        }
    
        @include desktop {
            text-align: start;
            }
    }
    &__address {
        display: flex;
        flex-direction: column;
        margin-bottom: 44px;
    
        @include tablet {
            width: calc((100% - var(--gap)) / 2);
            padding-right: 30px;
            }
    
        @include desktop {
            padding-right: 0;
            margin-bottom: 70px;
            }
    }
    &__address-link {
        display: flex;
    
        @include fonts (700, 18px, 30px, 0.02em);
        color: var(--secondaryTextColor);
        margin-bottom: var(--gap);
    
        @include miniMobile {
            font-size: 3.75vw;
        }
    }
    &__icon {
        fill: currentColor;
        margin-right: 16px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }
    &__link {
        @include fonts (400, 18px, 30px, 0.02em);
        color: var(--secondaryTextColor);
        display: flex;
        align-items: center;
    }
    &__link-tel {
        display: flex;
    }
    &__link-mail {
        text-decoration: underline;
    }
    &__time{
        @include tablet {
            width: calc((100% - var(--gap)) / 2);
        }
    
        @include desktop {
            width: 100%;
            }
    }
    &__time-title {
        color: var(--secondaryTitleColor);
        margin-bottom: var(--gap);
    
        &::before {
            content: "";
            width: 60px;
            height: 1px;
            background-color: var(--secondaryTextColor);
        }
    }
    &__time-text {
        @include fonts (400, 18px, 30px, 0.02em);
        color: var(--secondaryTextColor);
    }
    
}
